.login-form{
    margin: 30px 100px;

}
.from-info{
    border: 3px solid gray;
    border-radius:10px;
    display: inline-block;
   background-color: rgb(233, 233, 233);
   padding-bottom: 5px;
}
.login-form input{
    display: inline-block;
    margin-top: 30px;
    padding:5px;
    border:1px solid gray;
    border-radius: 5px;
    width:300px;
}
.error{
    color:red;
}